<div class="modal modal--preload modal--@@name @@if (context.responsive) { modal--responsive } @@if (context.fitContent) { modal--fit-content } @@if (context.noScale) { modal--no-scale } @@if (context.mod) { modal--@@mod }">
  <div class="modal__wrapper">
    <div class="modal__overlay"></div>
    <div class="modal__content">

      @@include("../modal-@@name.html")
      <!-- TODO: стилизовать -->
      <button class="modal__close-btn btn-reset" type="button" aria-label="Закрыть попап">
        <svg width="15" height="15">
          <use xlink:href="{{ 'assets/images/sprite_auto.svg#icon-close'|theme }}"></use>
        </svg>
      </button>

    </div>
  </div>
</div>
