@@loop("./modal.html", [
{
  "name": "discuss",
  "responsive": true,
},
{
  "name": "registration-for-viewing",
  "responsive": true,
},
{
  "name": "already-have",
  "fitContent": true,
},
{
  "name": "back-call",
  "fitContent": true,
},
{
  "name": "registration-for-viewing",
  "responsive": true,
},
{
  "name": "vacancyResponse",
  "fitContent": true,
},
{
  "name": "vacancy1",
  "responsive": true,
},
{
  "name": "vacancy2",
  "responsive": true,
},
{
  "name": "vacancy3",
  "responsive": true,
},
{
  "name": "vacancy4",
  "responsive": true,
},
{
  "name": "vacancy5",
  "responsive": true,
},
{
  "name": "memberED",
  "responsive": true
},
{
  "name": "memberET",
  "responsive": true,
},
{
  "name": "memberAdminDA",
  "responsive": true,
},
{
  "name": "memberArchitectPA",
  "responsive": true,
},
{
  "name": "memberBuilderVK",
  "responsive": true,
},
{
  "name": "memberConstructorIA",
  "responsive": true,
},
{
  "name": "memberConstructorSB",
  "responsive": true
}
])
