[viewBag]
==
{# <script src="{{ 'assets/javascript/vendor/modernizr-webp.js'|theme }}"></script> #}
{# <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script> #}
{# <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script> #}
<!-- {# <script src="{{ 'node_modules/glightbox/dist/js/glightbox.min.js'|theme }}"></script> #} -->
{# <script src="{{ 'assets/javascript/vendor.js'|theme }}"></script> #}


<script src="{{ 'assets/dist/vendor.min.js'|theme }}"></script>
<script src="{{ 'assets/dist/main.min.js'|theme }}"></script>

{% framework extras %}
{% scripts %}
