.filter {
	font-size: $font-size;

  &__panel {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #dce6ed;
    padding-top: 33px;
    padding-bottom: 27px;

    @media (max-width: 576px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

	h2 {
		@include h2;
		text-align: center;
		color: $metalic-blue;
	}

	label {
		display: block;
		margin-bottom: 1.2em;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		color: $secondary-color;
	}

	.form-select-lg {
		font-size: $font-size-sm;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		padding-left: 1em;
		border-radius: 0.3em;
	}

	.col-md-w-50 {
		margin: 0 auto;
		width: 50%;

		@include viewport--sm {
			width: 100%;
		}
	}


  &__btn {
    font-weight: 500;
    font-size: 14px;
    color: #517489;
		text-transform: uppercase;

    svg {
      width: 11px;
      height: 10px;
      fill: #517489;
      transform: rotate(90deg);
      margin-left: 19px;
      transition: 0.2s;
    }
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: $secondary-color;

      svg {
        fill: $secondary-color;
      }
    }

    &--show {
      opacity: 0.2;
      text-decoration: underline;

      margin-right: 52px;

      svg {
        transform: rotate(-90deg);
      }

      @media (max-width: 991px) {
        margin-right: 20px;
      }

      @media (max-width: 576px) {
        margin-bottom: 20px;
        margin-right: 0;
        opacity: 0.4;
      }
    }

    @media (max-width: 576px) {
      font-size: 1.2rem;

      svg {
        margin-left: 10px;
      }
    }
  }

  &__inner {
    display: none;
    background-color: #f8fcff;

    padding-top: 69px;
    padding-bottom: 29px;

    @media (max-width: 576px) {
      padding-top: 30px;
      padding-bottom: 40px;
    }
  }

  &__inner--active {
    display: block;
  }

  &__title {
    font-weight: 700;
    font-size: 1.4rem;
    color: $secondary-color;
    text-transform: uppercase;

    margin-bottom: 37px;

    @media (max-width: 576px) {
      margin-bottom: 20px;
    }
  }

  &__label {
    font-weight: 300;
    font-size: 1.4rem;
    color: #898989;

    padding-left: 25px;
    position: relative;

    &::after {
      content: "";

      position: absolute;
      left: 0;
      top: 1px;

      width: 16px;
      height: 16px;
      box-shadow: inset 0 1px 8px 0 rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
    }
  }

  &__input:checked + .filter__label {
    &::after {
      box-shadow: none;
      border: 1px solid #d9d9d9;
    }

    &::before {
      content: "";

      position: absolute;
      left: 2px;
      top: 5px;
      z-index: 2;

      width: 11px;
      height: 9px;
      background-image: url("../img/sprite/check-filter.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  // &__content {
	// 	margin-bottom: 60px;
  //   display: flex;
  //   justify-content: space-between;
  //   flex-wrap: wrap;

  //   @include viewport--md  {
  //     margin-bottom: 30px;
  //   }

  //   @include viewport--xs {
  //     margin-bottom: 10px;
  //   }
  // }

  // &__content {
  //   display: flex;
  //   flex-direction: column;

  //   width: calc(16.6666% - 38px);

  //   @media (max-width: 991px) {
  //     width: 33.3333%;
  //     margin-bottom: 30px;
  //   }

  //   @media (max-width: 576px) {
  //     width: 50%;
  //   }
  // }

  &__wrap {
    display: flex;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__nav {
		padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include viewport--xs {
			padding-top: 20px;
      flex-direction: column;
    }
  }

  // &__submit {
  //   font-weight: 500;
  //   font-size: 1.3rem;
  //   color: #f7f7f7;
  //   cursor: pointer;
  //   text-transform: uppercase;

  //   height: 55px;
  //   background-color: $secondary-color;
  //   box-shadow: 0 15px 34px 0 rgba(12, 30, 44, 0.2);

  //   display: flex;
  //   align-items: center;

  //   padding-left: 71px;
  //   width: 100%;
  //   max-width: 363px;

  //   transition: 0.2s;
  //   margin-left: 52px;

  //   svg {
  //     width: 12px;
  //     height: 10px;
  //     fill: #f0d276;
  //     transition: 0.2s;
  //   }

  //   span {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     background-color: #153248;
  //     height: 55px;
  //     margin: 0;
  //     margin-left: auto;
  //     padding-left: 34px;
  //     padding-right: 31px;
  //     transition: 0.2s;
  //   }

  //   &:hover {
  //     background-color: #153248;

  //     span {
  //       background-color: $secondary-color;
  //     }

  //     svg {
  //       fill: #fcf7e6;
  //     }
  //   }

  //   @media (max-width: 991px) {
  //     margin-left: 20px;
  //   }

  //   @media (max-width: 576px) {
  //     padding-left: 40px;
  //     height: 48px;
  //     margin-left: 0;

  //     span {
  //       height: 48px;
  //       padding-left: 24px;
  //       padding-right: 21px;
  //     }
  //   }
  // }
}
