.map {
  padding-top: 240px;
  padding-bottom: 117px;
  position: relative;

  @media (max-width: 1024px) {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  @media (max-width: 991px) {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  p:not([class]) {
    margin: 0;
    font-weight: 400;
    font-size: 1.6rem;
    color: #7c97aa;
    max-width: 232px;
    margin-bottom: 30px;

    @media (max-width: 576px) {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }
  }

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @media (max-width: 991px) {
      position: relative;
      height: 520px;
    }

    @media (max-width: 576px) {
      height: 420px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    padding: 80px;
    box-shadow: 0 17px 33px 0 rgba(124, 151, 170, 0.2);
    background-color: #ffffff;

    width: 100%;
    max-width: 423px;
    position: relative;
    z-index: 2;

    @media (max-width: 991px) {
      max-width: 100%;
      box-shadow: none;
      padding: 40px 20px;

      &::after {
        left: 0;
      }
    }

    @media (max-width: 576px) {
      padding-top: 20px;
      padding-left: 0;
      padding-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 76px;

      width: 60px;
      height: 4px;
      background-color: $primary-color;
    }
  }

  &__phone {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7c97aa;

    @media (max-width: 576px) {
      font-size: 1.4rem;
    }

    &:hover {
      color: $primary-color;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 3.7rem;
    color: $secondary-color;
    max-width: 250px;

    margin-bottom: 54px;

    @media (max-width: 576px) {
      font-size: 2.2rem;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 1.6rem;
    color: #7c97aa;
    margin-bottom: 5px;

    @media (max-width: 576px) {
      font-size: 1.4rem;
    }
  }

  &__btn {
    font-weight: 500;
    font-size: 1.3rem;
    color: #f7f7f7;
    cursor: pointer;
    text-transform: uppercase;

    height: 56px;
    background-color: $secondary-color;
    box-shadow: 0 15px 34px 0 rgba(12, 30, 44, 0.2);

    display: flex;
    align-items: center;

    padding-left: 45px;
    width: 100%;
    max-width: 347px;

    transition: 0.2s;
    margin-top: 45px;

    svg {
      width: 12px;
      height: 10px;
      fill: #f0d276;
      transition: 0.2s;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #153248;
      height: 56px;
      margin: 0;
      margin-left: auto;
      padding-left: 34px;
      padding-right: 31px;
      transition: 0.2s;
    }

    &:hover {
      background-color: #153248;

      span {
        background-color: $secondary-color;
      }

      svg {
        fill: #fcf7e6;
      }
    }

    @media (max-width: 576px) {
      padding-left: 35px;
      height: 48px;
      margin-top: 30px;

      span {
        height: 48px;
        padding-left: 24px;
        padding-right: 21px;
        margin-bottom: 0;
      }
    }
  }
}
