.person {
  display: flex;
  align-items: flex-start;

  @media (max-width: 992px - 0.02) {
    display: none;
  }

  &__name-wrap {
    max-width: 160px;
    padding-top: 130px;
    flex: none;
    text-align: right;
    font-size: 16.7px;

    @media (max-width: 1280px - 0.02) {
      max-width: unset;
      padding-top: 80px;
    }
  }

  &__name {
    margin: 0;
    font-weight: 700;
    color: #153248;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 17px;
      right: 0;
      top: -22px;
      background-color: #0c1e2c;
    }
  }

  &__sub-name {
    color: #999999;
  }
}
