.row-section {
	width: 100%;
  padding: 50px calc(50% - 515px);
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 55px;
  align-items: center;
  background-color: #dce6ed;
  color: $secondary-color-desaturate;
  // font-size: 16.7px;
  font-size: $font-size;
  line-height: 1.5;
  text-align: center;
	position: relative;

  @include viewport--md {
    margin-top: 0;
    margin-bottom: 35px;
  }

  @include viewport--xs {
    margin-bottom: 10px;
    padding: 60px 15px 65px;
  }

	&::before,
	&::after {
		content: url("data:image/svg+xml,%3Csvg width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 33.12C40 34.056 39.6706 34.77 39.0117 35.262C38.3528 35.754 37.5442 36 36.5858 36H3.4142C2.45583 36 1.6472 35.748 0.98832 35.244C0.32944 34.74 0 34.032 0 33.12C0 32.4 0.215633 31.668 0.6469 30.924L17.2147 1.98C18.0054 0.66 18.9398 0 20.018 0C21.0961 0 22.0066 0.66 22.7493 1.98L39.3531 30.96C39.7844 31.728 40 32.448 40 33.12ZM22.4978 14.724V9.468H17.5022V14.724C17.5022 15.06 17.5262 15.378 17.5741 15.678C17.622 15.978 17.6879 16.314 17.7718 16.686C17.8556 17.058 17.9215 17.376 17.9695 17.64L18.9039 23.472H21.0243L21.9946 17.64C22.0425 17.4 22.1144 17.088 22.2102 16.704C22.3061 16.32 22.378 15.978 22.4259 15.678C22.4738 15.378 22.4978 15.06 22.4978 14.724ZM22.4978 28.656C22.4978 27.96 22.2522 27.372 21.761 26.892C21.2698 26.412 20.6768 26.172 19.982 26.172C19.3112 26.172 18.7302 26.412 18.239 26.892C17.7478 27.372 17.5022 27.96 17.5022 28.656C17.5022 29.352 17.7478 29.946 18.239 30.438C18.7302 30.93 19.3112 31.176 19.982 31.176C20.6768 31.176 21.2698 30.93 21.761 30.438C22.2522 29.946 22.4978 29.352 22.4978 28.656Z' fill='%237C97AA'/%3E%3C/svg%3E%0A");
		width: 40px;
		height: 36px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		animation: ping 2s ease-in-out infinite forwards;
	}

	&::before {
		left: 4%;

		@include viewport--lg {
			left: 2%;
		}

		@include viewport--sm {
			left: 50%;
			top: 5px;
			transform: translateX(-50%);
		}
	}

	&::after {
		right: 4%;

		@include viewport--lg {
			right: 2%;
		}

		@include viewport--sm {
			top: unset;
			left: 50%;
			bottom: 5px;
			transform: translateX(-50%);
		}
	}

  &__inner {
		max-width: 1030px;

		@include viewport--lg {
			padding: 0 80px;
		}

		@include viewport--sm {
			padding: 0 20px;
		}
  }

	p, ul, ol {
		&:not(:last-child) {
			margin-bottom: 1.8em;
		}
	}

	&--alert {
		font-weight: 700;

		ul {
			font-weight: 400;
		}

		b,strong {
			font-weight: 700;
		}
	}

	&--bg {
		background: url('../images/bg/row-bg.jpg') center no-repeat;
		color: #ffffff;
	}
}

.row-form {
  padding-top: 59px;
  padding-bottom: 55px;
  background-color: $primary-color;
  padding-left: 71px;
  padding-right: 59px;

  @media (max-width: 1520px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 576px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;

    @media (max-width: 1520px) {
      flex-direction: column;
      align-items: flex-start;

      width: 40%;
    }

    @media (max-width: 991px) {
      width: 50%;
    }

    @media (max-width: 576px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2rem;
    color: $secondary-color;
    text-transform: uppercase;

    @media (max-width: 1520px) {
      margin-bottom: 20px;
    }

    @media (max-width: 576px) {
      font-size: 1.6rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    font-size: 1.6rem;
    color: $secondary-color;
    max-width: 463px;
    padding-right: 20px;

    @media (max-width: 576px) {
      max-width: 100%;
      font-size: 1.4rem;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 50%;

    @media (max-width: 1520px) {
      width: 60%;
    }

    @media (max-width: 991px) {
      width: 50%;
      flex-direction: column;
    }

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 380px;

    @media (max-width: 576px) {
      max-width: 100%;
    }
  }

  &__file {
    position: absolute;
    left: -99999999;
    opacity: 0;
    z-index: -222;
  }

  &__file-label {
    font-weight: 300;
    font-size: 1.6rem;
    color: $secondary-color;
    width: 100%;
    max-width: 380px;
    border-bottom: 2px solid $secondary-color;
    padding-bottom: 16px;
    padding-left: 110px;
    cursor: pointer;

    @media (max-width: 1520px) {
      padding-left: 60px;
    }

    @media (max-width: 576px) {
      max-width: 100%;
      font-size: 1.4rem;
      max-width: 100%;
    }
  }

  &__item {
    display: flex;
    position: relative;

    margin-bottom: 35px;

    svg {
      position: absolute;
      left: 30px;
      top: 0;

      width: 16px;
      height: 18px;
      fill: $secondary-color;

      @media (max-width: 1520px) {
        left: 15px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    font-weight: 400;
    font-size: 1.6rem;
    color: $secondary-color;
    background: none;
    width: 100%;
    max-width: 380px;
    border-bottom: 2px solid $secondary-color;
    padding-bottom: 16px;
    padding-left: 110px;

    &::placeholder {
      color: $secondary-color;
    }

    @media (max-width: 1520px) {
      padding-left: 60px;
    }

    @media (max-width: 576px) {
      max-width: 100%;
      font-size: 1.4rem;
      max-width: 100%;
    }
  }
}
