.no-webp,
.no-js {
  .intro {

		background-image: url("../images/bg/bg-first-screen--main.jpg");

		@include retina {
			background-image: url("../images/bg/bg-first-screen--main@2x.jpg");
		}

		@include viewport--xl {
			background-image: url("../images/bg/bg-first-screen--main-lg.jpg");

			@include retina {
				background-image: url("../images/bg/bg-first-screen--main-lg@2x.jpg");
			}
		}

    @include viewport--xs {
      background-image: url("../images/catalog/scandica/scandica1-cut.jpg");

      @include retina {
        background-image: url("../images/catalog/scandica/scandica1-cut@2x.jpg");
      }
    }
  }

  .contacts__bg {
    background-image: url("../images/bg-call-to-action.jpg");
  }

	.features {
		background-image: url("../images/bg/bg-features.jpg");
	}

	.footer {
		background-image: url("../images/bg/footer-background.png");
	}
}

.webp .intro {
  background-image: url("../images/bg/bg-first-screen--main.webp");

  @include retina {
    background-image: url("../images/bg/bg-first-screen--main@2x.webp");
  }

	@include viewport--xl {
		background-image: url("../images/bg/bg-first-screen--main-lg.webp");

		@include retina {
			background-image: url("../images/bg/bg-first-screen--main-lg@2x.webp");
		}
	}

  @include viewport--xs {
    background-image: url("../images/catalog/scandica/scandica1-cut.webp");

    @include retina {
      background-image: url("../images/catalog/scandica/scandica1-cut@2x.webp");
      // background-image: url("../images/catalog/scandica/scandica1-cut.webp");
    }
  }
}

.webp .contacts__bg {
  background-image: url("../images/bg-call-to-action.webp");
}

.webp .features {
	background-image: url("../images/bg/bg-features.webp");
}

.webp .footer {
		background-image: url("../images/bg/footer-background.webp");
	}

/* ======================================
   $First-screen
   ====================================== */

.no-webp .first-screen,
.no-js .first-screen {
  &--tech {
    background-image: url("../images/bg/bg-fs--tech.jpg");

    @include retina {
      background-image: url("../images/bg/bg-fs--tech@2x.jpg");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs--tech320.jpg");

      @include retina {
        background-image: url("../images/bg/bg-fs--tech320@2x.jpg");
      }
    }
  }

  &--contacts {
    background-image: url("../images/bg/bg-first-screen--contacts.jpg");

    @include retina {
      background-image: url("../images/bg/bg-first-screen--contacts@2x.jpg");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs-contacts-mob.jpg");

      @include retina {
        background-image: url("../images/bg/bg-fs-contacts-mob@2x.jpg");
      }
    }
  }

  &--projects,
	&--esberg {
    background-image: url("../images/bg/projects-new.jpg");

    @include retina {
      background-image: url("../images/bg/projects-new@2x.jpg");
    }

    @include viewport--xs {
      background-image: url("../images/bg/projects-new-mob.jpg");

      @include retina {
        background-image: url("../images/bg/projects-new-mob@2x.jpg");
      }
    }
  }

  &--services {
    background-image: url("../images/bg/bg-first-screen--services.jpg");

    @include retina {
      background-image: url("../images/bg/bg-first-screen--services@2x.jpg");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs-services-mob.jpg");

      @include retina {
        background-image: url("../images/bg/bg-fs-services-mob@2x.jpg");
      }
    }
  }

  &--about {
    background-image: url("../images/bg/bg-first-screen--about.jpg");

    @include retina {
      background-image: url("../images/bg/bg-first-screen--about@2x.jpg");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs-about-mob.jpg");

      @include retina {
        background-image: url("../images/bg/bg-fs-about-mob@2x.jpg");
      }
    }
  }

	&--office {
    background-image: url("../images/bg/bg-office.jpg");

    @include retina {
      background-image: url("../images/bg/bg-office@2x.jpg");
    }

		@include viewport--xs {
      background-image: url("../images/bg/bg-office-mob.jpg");

      @include retina {
        background-image: url("../images/bg/bg-office-mob@2x.jpg");
      }
    }
  }

  &--thankyou {
    background-image: url("../images/bg/bg-first-screen--main.jpg");

    @include retina {
      background-image: url("../images/bg/bg-first-screen--main@2x.jpg");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs-main-mob.jpg");

      @include retina {
        background-image: url("../images/bg/bg-fs-main-mob@2x.jpg");
      }
    }
  }

  &--team {
    background-image: url("../images/bg/bg-first-screen--team.jpg");

    @include retina {
      background-image: url("../images/bg/bg-first-screen--team@2x.jpg");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs-team-mob.jpg");

      @include retina {
        background-image: url("../images/bg/bg-fs-team-mob@2x.jpg");
      }
    }
  }

  &--vacancy {
    background-image: url("../images/bg/bg-first-screen-vacancy.jpg");

    @include retina {
      background-image: url("../images/bg/bg-first-screen-vacancy@2x.jpg");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs-vacancy-mob.jpg");

      @include retina {
        background-image: url("../images/bg/bg-fs-vacancy-mob@2x.jpg");
      }
    }
  }

	&--kreditovanie {
    background-image: url("../images/bg/kreditovanie-filter.jpg");

    @include retina {
      background-image: url("../images/bg/kreditovanie-filter@2x.jpg");
    }

		@include viewport--md {
      background-image: url("../images/bg/kreditovanie-768.jpg");

      @include retina {
        background-image: url("../images/bg/kreditovanie-768@2x.jpg");
      }
    }

    @include viewport--xs {
      background-image: url("../images/bg/kreditovanie-320.jpg");

      @include retina {
        background-image: url("../images/bg/kreditovanie-320@2x.jpg");
      }
    }
  }

  /* $Services
     ====================================== */

  &--construction {
    background-image: url("../images/bg/bg-fs--construction.jpg");

    @include retina {
      background-image: url("../images/bg/bg-fs--construction@2x.jpg");
    }
  }

  &--engineering {
    background-image: url("../images/bg/bg-fs--service-id.jpg");

    @include retina {
      background-image: url("../images/bg/bg-fs--service-id@2x.jpg");
    }
  }

  /* $Projects
     ====================================== */

  &--skandika {
    background-image: url("../images/catalog/scandica/scandica1-xxl.jpg");

    @include retina {
      background-image: url("../images/catalog/scandica/scandica1-xxl@2x.jpg");
    }
  }

  &--kanny {
    background-image: url("../images/catalog/kanny/bg-xxl.jpg");


    @include retina {
      background-image: url("../images/catalog/kanny/bg-xxl@2x.jpg");
    }
  }

	&--kejptaun {
    background-image: url("../images/catalog/keyptaun/bg-xxl.jpg");

    @include retina {
      background-image: url("../images/catalog/keyptaun/bg-xxl@2x.jpg");
    }
  }

  &--kyoln {
    background-image: url("../images/catalog/keln/bg-xxl.jpg");

    @include retina {
      background-image: url("../images/catalog/keln/bg-xxl@2x.jpg");
    }
  }

  &--amsterdam {
    background-image: url("../images/catalog/amsterdam/bg-xxl.jpg");

    @include retina {
      background-image: url("../images/catalog/amsterdam/bg-xxl@2x.jpg");
    }
  }

  &--kataloniya {
    background-image: url("../images/catalog/kataloniya/bg-xxl.jpg");

    @include retina {
      background-image: url("../images/catalog/kataloniya/bg-xxl@2x.jpg");
    }
  }

  &--zheneva {
    background-image: url("../images/catalog/zheneva/bg-xxl.jpg");

    @include retina {
      background-image: url("../images/catalog/zheneva/bg-xxl@2x.jpg");
    }
  }

  &--helsinki {
    background-image: url("../images/catalog/khelsinki/bg-xxl.jpg");

    @include retina {
      background-image: url("../images/catalog/khelsinki/bg-xxl@2x.jpg");
    }
  }

  &--bremen {
    background-image: url("../images/catalog/bremen/bg-xxl.jpg");

    @include retina {
      background-image: url("../images/catalog/bremen/bg-xxl@2x.jpg");
    }
  }

  &--nicca {
    background-image: url("../images/catalog/nitstsa/bg-xxl.jpg");

    @include retina {
      background-image: url("../images/catalog/nitstsa/bg-xxl@2x.jpg");
    }
  }

  &--bratislava {
    background-image: url("../images/catalog/bratislava/bg-xxl.jpg");

    @include retina {
      background-image: url("../images/catalog/bratislava/bg-xxl@2x.jpg");
    }
  }

  &--keyptaun {
    background-image: url("../images/catalog/keyptaun/bg-xxl.jpg");


    @include retina {
      background-image: url("../images/catalog/keyptaun/bg-xxl@2x.jpg");
    }
  }

  &--larnaka {
    background-image: url("../images/catalog/larnaka/bg-xxl.jpg");

    @include retina {
      background-image: url("../images/catalog/larnaka/bg-xxl@2x.jpg");
    }
  }

  &--toronto {
    background-image: url("../images/catalog/toronto/bg-xxl.jpg");

    @include retina {
      background-image: url("../images/catalog/toronto/bg-xxl@2x.jpg");
    }
  }

  &--budapesht {
    background-image: url("../images/catalog/budapesht/budapesht-1.jpg");

    @include retina {
      background-image: url("../images/catalog/budapesht/budapesht-1@2x.jpg");
    }
  }

	&--milan {
    background-image: url("../images/catalog/milan/milan-1.jpg");

    @include retina {
      background-image: url("../images/catalog/milan/milan-1@2x.jpg");
    }
  }

	&--kentuki {
    background-image: url("../images/catalog/kentuki/bg-xxl.jpg");
		// TODO: добавить ретину для Кентуки
    // @include retina {
    //   background-image: url("../images/catalog/milan/bg-xxl@2x.jpg");
    // }
  }
}

.webp .first-screen {
  &--tech {
    background-image: url("../images/bg/bg-fs--tech.webp");

    @include retina {
      background-image: url("../images/bg/bg-fs--tech@2x.webp");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs--tech320.webp");

      @include retina {
        background-image: url("../images/bg/bg-fs--tech320@2x.webp");
      }
    }
  }


  &--contacts {
    background-image: url("../images/bg/bg-first-screen--contacts.webp");

    @include retina {
      background-image: url("../images/bg/bg-first-screen--contacts@2x.webp");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs-contacts-mob.webp");

      @include retina {
        background-image: url("../images/bg/bg-fs-contacts-mob@2x.webp");
      }
    }
  }

  &--projects,
	&--esberg {
    background-image: url("../images/bg/projects-new.webp");

    @include retina {
      background-image: url("../images/bg/projects-new@2x.webp");
    }

    @include viewport--xs {
      background-image: url("../images/bg/projects-new.webp");

      @include retina {
        background-image: url("../images/bg/projects-new@2x.webp");
      }
    }
  }

  &--services {
    background-image: url("../images/bg/bg-first-screen--services.webp");

    @include retina {
      background-image: url("../images/bg/bg-first-screen--services@2x.webp");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs-services-mob.webp");

      @include retina {
        background-image: url("../images/bg/bg-fs-services-mob@2x.webp");
      }
    }
  }

  &--about {
    background-image: url("../images/bg/bg-first-screen--about.webp");

    @include retina {
      background-image: url("../images/bg/bg-first-screen--about@2x.webp");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs-about-mob.webp");

      @include retina {
        background-image: url("../images/bg/bg-fs-about-mob@2x.webp");
      }
    }
  }

	&--office {
		background-image: url("../images/bg/bg-office.webp");

		@include retina {
			background-image: url("../images/bg/bg-office@2x.webp");
		}

		@include viewport--xs {
      background-image: url("../images/bg/bg-office-mob.webp");

      @include retina {
        background-image: url("../images/bg/bg-office-mob@2x.webp");
      }
    }
	}

  &--thankyou {
    background-image: url("../images/bg/bg-first-screen--main.webp");

    @include retina {
      background-image: url("../images/bg/bg-first-screen--main@2x.webp");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs-main-mob.webp");

      @include retina {
        background-image: url("../images/bg/bg-fs-main-mob@2x.webp");
      }
    }
  }

  &--team {
    background-image: url("../images/bg/bg-first-screen--team.webp");

    @include retina {
      background-image: url("../images/bg/bg-first-screen--team@2x.webp");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs-team-mob.webp");

      @include retina {
        background-image: url("../images/bg/bg-fs-team-mob@2x.webp");
      }
    }
  }

  &--vacancy {
    background-image: url("../images/bg/bg-first-screen-vacancy.webp");

    @include retina {
      background-image: url("../images/bg/bg-first-screen-vacancy@2x.webp");
    }

    @include viewport--xs {
      background-image: url("../images/bg/bg-fs-vacancy-mob.webp");

      @include retina {
        background-image: url("../images/bg/bg-fs-vacancy-mob@2x.webp");
      }
    }
  }

	&--kreditovanie {
    background-image: url("../images/bg/kreditovanie-filter.webp");

    @include retina {
      background-image: url("../images/bg/kreditovanie-filter@2x.webp");
    }

		@include viewport--md {
      background-image: url("../images/bg/kreditovanie-768.webp");

      @include retina {
        background-image: url("../images/bg/kreditovanie-768@2x.webp");
      }
    }

    @include viewport--xs {
      background-image: url("../images/bg/kreditovanie-320.webp");

      @include retina {
        background-image: url("../images/bg/kreditovanie-320@2x.webp");
      }
    }
  }

  /* $Services
     ====================================== */

  &--construction {

    background-image: url("../images/bg/bg-fs--construction.webp");

    @include retina {
      background-image: url("../images/bg/bg-fs--construction@2x.webp");
    }
  }

  &--engineering {
    background-image: url("../images/bg/bg-fs--service-id.webp");

    @include retina {
      background-image: url("../images/bg/bg-fs--service-id@2x.webp");
    }
  }

  /* $Projects
     ====================================== */

  &--skandika {
    background-image: url("../images/catalog/scandica/scandica1-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/scandica/scandica1-xxl@2x.webp");
    }
  }

  &--kanny {
    background-image: url("../images/catalog/kanny/bg-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/kanny/bg-xxl@2x.webp");
    }
  }

  &--kejptaun {
    background-image: url("../images/catalog/keyptaun/bg-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/keyptaun/bg-xxl@2x.webp");
    }
  }

  &--kyoln {
    background-image: url("../images/catalog/keln/bg-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/keln/bg-xxl@2x.webp");
    }
  }

  &--amsterdam {
    background-image: url("../images/catalog/amsterdam/bg-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/amsterdam/bg-xxl@2x.webp");
    }
  }

  &--kataloniya {
    background-image: url("../images/catalog/kataloniya/bg-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/kataloniya/bg-xxl@2x.webp");
    }
  }

  &--zheneva {
    background-image: url("../images/catalog/zheneva/bg-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/zheneva/bg-xxl@2x.webp");
    }
  }

  &--helsinki {
    background-image: url("../images/catalog/khelsinki/bg-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/khelsinki/bg-xxl@2x.webp");
    }
  }

  &--bremen {
    background-image: url("../images/catalog/bremen/bg-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/bremen/bg-xxl@2x.webp");
    }
  }

  &--nicca {
    background-image: url("../images/catalog/nitstsa/bg-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/nitstsa/bg-xxl@2x.webp");
    }
  }

  &--bratislava {
    background-image: url("../images/catalog/bratislava/bg-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/bratislava/bg-xxl@2x.webp");
    }
  }

  &--keyptaun {
    background-image: url("../images/catalog/keyptaun/bg-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/keyptaun/bg-xxl@2x.webp");
    }
  }

  &--larnaka {
    background-image: url("../images/catalog/larnaka/bg-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/larnaka/bg-xxl@2x.webp");
    }
  }

  &--toronto {
    background-image: url("../images/catalog/toronto/bg-xxl.webp");

    @include retina {
      background-image: url("../images/catalog/toronto/bg-xxl@2x.webp");
    }
  }

  &--budapesht {
    background-image: url("../images/catalog/budapesht/budapesht-1.webp");

    @include retina {
      background-image: url("../images/catalog/budapesht/budapesht-1@2x.webp");
    }
  }

	&--milan {
    background-image: url("../images/catalog/milan/milan-1.webp");

    @include retina {
      background-image: url("../images/catalog/milan/milan-1@2x.webp");
    }
  }
	&--kentuki {
    background-image: url("../images/catalog/kentuki/bg-xxl.webp");
		// TODO: добавить ретину для Кентуки
    // @include retina {
    //   background-image: url("../images/catalog/milan/bg-xxl@2x.jpg");
    // }
  }
}

/* ======================================
   $We-do
   ====================================== */

.no-webp .we-do__item,
.no-js .we-do__item {
  &--bg-first {
    background-image: url("../images/bg/works-item-1.jpg");

    @include retina {
      background-image: url("../images/bg/works-item-1@2x.jpg");
    }
  }

  &--bg-second {
    background-image: url("../images/bg/works-item-2.jpg");

    @include retina {
      background-image: url("../images/bg/works-item-2@2x.jpg");
    }
  }

  &--bg-third {
    background-image: url("../images/bg/works-item-3.jpg");

    @include retina {
      background-image: url("../images/bg/works-item-3@2x.jpg");
    }
  }
}

.webp .we-do__item {
  &--bg-first {
    background-image: url("../images/bg/works-item-1.webp");

    @include retina {
      background-image: url("../images/bg/works-item-1@2x.webp");
    }
  }

  &--bg-second {
    background-image: url("../images/bg/works-item-2.webp");

    @include retina {
      background-image: url("../images/bg/works-item-2@2x.webp");
    }
  }

  &--bg-third {
    background-image: url("../images/bg/works-item-3.webp");

    @include retina {
      background-image: url("../images/bg/works-item-3@2x.webp");
    }
  }
}
