[viewBag]
==
{# 
  params:
  @title
  @titleHide
  @text
  @img
  @imgW
  @imgAlt
  #}
<section class="about-item
 {{ brand ? 'about-item--brand'}}
 {{ invert ? 'about-item--invert'}}
 {{ blue ? 'blue'}}
 {{ pb0 ? 'about-item--md-pb-0' }}">
  <div class="about-item__inner">
    {% if brand %}
    {% partial 'elements/brand-flag' %}
    {% endif %}
    
    <div class="about-item__text">
      {% if title %}
        <h2 class="about-item__title  {{ titleHide ? 'visually-hidden'}}">{{ title|raw }}</h2>
      {% endif %}
      {{ text|raw }}
    </div>
    <div class="about-item__picture">
      <img src="{{ img|theme }}" width="{{ imgW }}" alt="{{ imgAlt }}"loading="lazy">
    </div>
  </div>
</section>