description = "Секция: список услуг"

[viewBag]
==
<section class="services  {{ main ? 'services--main' }}">
  <h2 class="visually-hidden">Перечень услуг Mansio group</h2>
  {% if main != true %}
  <div class="services__item">
    <picture class="services__foto  js-picture">
      <source srcset="{{ 'assets/images/content/layer-18.webp'|theme }} 1x" />
      <img class="js-picture__img  js-picture__img--mid-scroll" src="{{ 'assets/images/content/layer-18.webp'|theme }}"
        alt="##" width="875" />
    </picture>
    <div class="services__content">
      <div class="services__desc">
        Создаем красивый и&nbsp;функциональный дом в&nbsp;рамках вашего бюджета
      </div>
      <div class="services__title">Архитектурное проектирование</div>
      <div class="services__subtitle">
        При архитектурном проектировании мы&nbsp;продумываем:
      </div>
      <ul class="services__list">
        <li>Размер и&nbsp;форму жилья;</li>
        <li>Количество и&nbsp;расположение входных дверей;</li>
        <li>Этажность строения;</li>
        <li>Материал, из&nbsp;которого будет строиться дом;</li>
        <li>Наличие котельной, пристроенного к&nbsp;дому гаража и&nbsp;других объектов;</li>
        <li>Устройство санузлов;</li>
        <li>Количество и&nbsp;величину окон;</li>
        <li>Наличие проходных комнат и&nbsp;др.</li>
      </ul>
      <div class="services__btns-wrapper">
        {% partial 'elements/btn' modal='already-have' text='У&nbsp;меня уже есть проект' bemElement='services__btn' %}
        <a class="btn  btn--blue  services__btn" href="{{'individualnoe-proektirovanie'|app}}">Подробнее</a>
      </div>
    </div>
  </div>
  <!-- item 2 -->
  <div class="services__item">
    <div class="services__foto services__foto--right">
      <picture class="js-picture">
        <source srcset="{{ 'assets/images/content/layer-19.webp'|theme }} 1x" />
        <img class="js-picture__img  js-picture__img--mid-scroll"
          src="{{ 'assets/images/content/layer-19.webp'|theme }}" alt="##" width="875" />
      </picture>
    </div>
    <div class="services__content">
      <div class="services__title">
        Проектирование <br />
        инженерных коммуникаций
      </div>
      <ul class="services__list">
        <li>Отопление и&nbsp;вентиляция</li>
        <li>Водоснабжение и&nbsp;канализация</li>
        <li>Электроснабжение</li>
        <li>Слаботочные системы</li>
        <li>&laquo;Умный дом&raquo;</li>
      </ul>
      {% partial 'elements/btn' text='Подробнее' href='' mod='blue' bemElement='services__btn' %}
    </div>
  </div>
  <!-- item 3 -->
  <div class="services__item">
    <div class="services__foto">
      <picture class="js-picture">
        <source srcset="{{ 'assets/images/content/layer-20.webp'|theme }} 1x" />
        <img class="js-picture__img  js-picture__img--mid-scroll"
          src="{{ 'assets/images/content/layer-20.webp'|theme }}" alt="##" width="875" />
      </picture>
    </div>
    <div class="services__content">
      <div class="services__title">Строительство</div>
      <ul class="services__list">
        <li>
          После утверждения проекта строительство нового дома осуществляется подразделениями компании.
        </li>
        <li>Тройной контроль качества: прораб, инженер, технадзор.</li>
        <li>Учитываем СНИПы, ГОСТЫ, градостроительные нормы.</li>
      </ul>
      <a class="btn  btn--blue  services__btn" href="{{'stroitelstvo'|staticPage}}">Подробнее</a>
    </div>
  </div>
  <!-- item 4 -->
  <div class="services__item ">
    <div class="services__foto services__foto--right">
      <picture class="js-picture">
        <source srcset="{{ 'assets/images/content/layer-21.webp'|theme }} 1x" />
        <img class="js-picture__img  js-picture__img--mid-scroll"
          src="{{ 'assets/images/content/layer-21.webp'|theme }}" alt="##" width="875" />
      </picture>
    </div>
    <div class="services__content">
      <div class="services__title">ДИЗАЙН ИНТЕРЬЕРА</div>
      <div class="services__quote">
        Пройдитесь по&nbsp;своему дому ещё до&nbsp;начала ремонта
        и&nbsp;оцените, насколько вам комфортно?
      </div>
      <div class="services__subtitle">
        С&nbsp;помощью 3D-визуализации вы&nbsp;можете:
      </div>
      <ul class="services__list">
        <li>Формирование концепции дизайн-проекта</li>
        <li>Разработка и утверждение рабочей документации</li>
        <li>Комплектация объекта под ключ</li>
        <li>Сопровождение на всех этапах реализации дизайн-проекта</li>
        <li>Подробные ведомости с указанием всех параметров и цен</li>
      </ul>
      <p class="services__feedback">
        <svg class="services__icon" width="48">
          <use xlink:href="{{ 'assets/images/sprite_auto.svg#project-icon-2'|theme }}"></use>
        </svg>
        <span>После интервью заказчика с&nbsp;нашим дизайнером, мы&nbsp;формируем
          техническое задание и&nbsp;детальный сценарий эксплуатации каждого
          помещения.</span>
      </p>
      <a class="btn  btn--blue  services__btn" href="{{'dizajn-interera'|app}}">Подробнее</a>
    </div>
  </div>
  <!-- item 5 -->
  <div class="services__item">
    <div class="services__foto">
      <picture class="js-picture">
        <source srcset="{{ 'assets/images/content/layer-22.webp'|theme }} 1x" />
        <img class="js-picture__img  js-picture__img--mid-scroll"
          src="{{ 'assets/images/content/layer-22.webp'|theme }}" alt="##" width="875" />
      </picture>
    </div>
    <div class="services__content">
      <div class="services__title">Отделочные работы</div>
      <ul class="services__list">
        <li>Квалифицированные мастера с многолетним опытом работы</li>
        <li>
          Качественные строительные материалы от&nbsp;производителей и
          официальных дилеров;
        </li>
        <li>
          Отчет о&nbsp;проделанной работе в&nbsp;личном кабинете или
          мессенджере.
        </li>
      </ul>
      <a class="btn  btn--blue  services__btn" href="{{'otdelochnye-raboty'|app}}">Подробнее</a>
    </div>
  </div>
  <!-- item 6 -->
  <div class="services__item">
    <div class="services__foto services__foto--right">
      <picture class="js-picture">
        <source srcset="{{ 'assets/images/content/layer-24.webp'|theme }} 1x" />
        <img class="js-picture__img  js-picture__img--mid-scroll"
          src="{{ 'assets/images/content/layer-24.webp'|theme }}" alt="##" width="875" />
      </picture>
    </div>
    <div class="services__content">
      <div class="services__title">Комплектация мебелью</div>
      <ul class="services__list">
        <li>
          Скидка при комплектации объекта от&nbsp;производителя, как оптовый
          покупатель;
        </li>
        <li>
          Экономия вашего времени на&nbsp;поездки и&nbsp;разговоры
          с&nbsp;поставщиками;
        </li>
        <li>Отсутствие транспортных расходов;</li>
        <li>Точное соответствие дизайн-проекту.</li>
      </ul>
      <a class="btn  btn--blue  services__btn" href="{{'komplektaciya-mebelyu'|app}}">Подробнее</a>
    </div>

  </div>
  <!-- item 7 -->
  <div class="services__item">
    <div class="services__foto">
      <picture class="js-picture">
        <source srcset="{{ 'assets/images/content/layer-25.webp'|theme }} 1x" />
        <img class="js-picture__img  js-picture__img--mid-scroll"
          src="{{ 'assets/images/content/layer-25.webp'|theme }}" alt="##" width="875" />
      </picture>
    </div>
    <div class="services__content">
      <div class="services__title">Ландшафтный дизайн</div>
      <div class="services__text">
        <span>Наша цель – создать комфортное и гармоничное пространство для жизни, где участок, экстерьер и интерьер
          являются единым целым.</span>
        <span>При разработке ландшафтного дизайна учитываем архитектурный стиль дома, концепцию дизайна интерьера,
          пожелания заказчика и индивидуальные особенности, такие, как наличие домашних питомцев и аллергия на
          растения.</span>
      </div>
      {% partial 'elements/btn' text='Подробнее' href='' mod='blue' bemElement='services__btn' %}
    </div>
  </div>
  {% endif %}
  {% if main %}
  <div class="services__item">
    <div class="services__foto services__foto--right">
      <picture class="js-picture">
        <source srcset="{{ 'assets/images/content/layer-26.webp'|theme }} 1x" />
        <img class="js-picture__img  js-picture__img--mid-scroll"
          src="{{ 'assets/images/content/layer-26.webp'|theme }}" alt="##" width="875" />
      </picture>
    </div>
    <div class="services__content">
      <div class="services__title">
        Под ваш проект <br />
        создается проектная группа <br />
        из&nbsp;специалистов:
      </div>
      <ul class="services__list">
        <li>Архитекторы;</li>
        <li>Конструкторы;</li>
        <li>Инженеры;</li>
        <li>Дизайнеры;</li>
        <li>Ландшафтные дизайнеры;</li>
        <li>Комплектовщики.</li>
      </ul>
    </div>

  </div>
  <!-- item 9 -->
  <div class="services__item">
    <div class="services__foto">
      <picture class="js-picture">
        <source srcset="{{ 'assets/images/content/layer-27.webp'|theme }} 1x" />
        <img class="js-picture__img  js-picture__img--mid-scroll"
          src="{{ 'assets/images/content/layer-27.webp'|theme }}" alt="##" width="875" />
      </picture>
    </div>
    <div class="services__content">
      <div class="services__desc">Для обсуждения деталей вашего проекта</div>
      <div class="services__title">
        Создаем общий чат <br />
        в&nbsp;удобном мессенджере
      </div>
      <div class="services__subtitle">
        В&nbsp;режиме реального времени вы&nbsp;сможете увидеть:
      </div>
      <ul class="services__list">
        <li>Эскизы;</li>
        <li>Наброски;</li>
        <li>Технические решения;</li>
      </ul>
      <div class="services__feedback">
        <div class="services__icon">
          <svg>
            <use xlink:href="{{ 'assets/images/sprite_auto.svg#project-icon-1'|theme }}"></use>
          </svg>
        </div>
        <span>Специалисты готовы ответить на&nbsp;любой ваш вопрос в&nbsp;режиме
          реального времени.</span>
      </div>
    </div>
  </div>
  {% endif %}
</section>