.about-item {
  // margin-bottom: 85px;
  font-size: $font-size;
  color: $secondary-color-desaturate;
  padding-top: 50px;
  padding-bottom: 55px;

  @include viewport--md {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  @include viewport--xs {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 3.1vw;

    @include viewport--lg {
      padding: 0;
    }

    @include viewport--md {
      flex-direction: column;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 700px;
    // width: 40%;
    max-width: 40%;
    margin-left: 7.3vw;
    margin-right: 5.2vw;
    text-align: justify;

    @include viewport--md {
			width: 100%;
      max-width: 100%;
      margin: 0 auto;
      padding: 0 20px 30px;
			text-align: left;
    }

		@include viewport--sm {
			align-items: center;
			// text-align: justify;
		}

    @include viewport--xs {
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__picture {
    width: 885px;
    // width: 60%;
    max-width: 60%;
    // flex: none;

    @include viewport--md {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
    }

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title,
  h2 {
    color: $secondary-color;
    font-size: $line-height-title;
    line-height: $line-height-title;
    font-weight: bold;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    text-align: left;

    @include viewport--md {
      margin-bottom: 20px;
    }
  }

	h3 {
		display: inline-block;
		font-size: inherit;
		line-height: inherit;
		font-weight: 700;
		// text-transform: uppercase;
		color: $metalic-blue;
		margin-bottom: 1.2em;
		margin-top: 0.1em;
	}

  &__lead,
  b {
    font-weight: 700;
    color: #0d1e2b;
  }

	b.text-metalic-blue {
		color: $metalic-blue;
	}

  &__btn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    // max-width: 700px;
    // margin: 0 auto;

    .btn {
      width: 100%;
      max-width: 320px;
      margin-top: 0;
    }

    // .btn:first-child {
    //   margin-right: auto;
    // }

    // .btn:nth-child(n + 2) {
    //   margin-top: 20px;
    // }
  }

  &__btn {
    margin-top: 3em;
    padding: 1em 3em;
    max-width: 420px;
    padding-right: calc(3em + 55px);

		@include viewport--md {
			margin-top: 2em;
		}

    @include viewport--xs {
      margin-top: 1.2em;
    }
  }

	p:not(:last-child) {
		margin-bottom: 1.2em;
	}

	p.about-item__lead {
		margin-top: 0.2em;
		margin-bottom: 1.3em;
	}

	a:not([class]),
	button:not([class]) {
		font-weight: 700;
		color: $blue-saturate;
		text-decoration: underline;
		transition: text-decoration $default-transition-settings;
		cursor: pointer;

		&:hover,
		&:focus {
			text-decoration: underline dotted;
			outline: none;
		}

		&:active {
			text-decoration: wavy underline;
		}
	}
	ol, ul {
		margin-top: 0;
		margin-bottom: 1.2em;
		text-align: left;
	}

	ul ol,
	ol ul {
		margin: 0.1em 0;
		margin-left: 0.4em;
	}

  li {
    // margin-bottom: 1.2em;
		// line-height: 1.2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote {
    display: inline-block;
    margin: 0;
    font-style: italic;
    padding-left: 28px;
    border-left: 2px solid $primary-color;
    margin-bottom: 40px;
  }
}

.about-item--brand {
  color: $secondary-color;
  background-color: #f8f8f8;
  padding-top: 0;
  padding-bottom: 110px;
  margin-bottom: 60px;

  @include viewport--lg {
    padding-bottom: 0;
  }

  @include viewport--md {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 35px;
  }

  @include viewport--xs {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 25px;
  }

  .brand-flag {
    @include viewport--md {
      display: none;
    }
  }

  .about-item__text {
    padding-top: 130px;
    // margin-left: 70px;
    margin-left: 3.6vw;
    margin-right: 5.2vw;

    @include viewport--xl {
      margin-left: 2.0vw;
      margin-right: 2.3vw;
    }

    @include viewport--lg {
      padding-top: 30px;
      padding-bottom: 35px;
    }

    @include viewport--md {
      margin: 0 auto;
      padding-top: 30px;
    }

    @include viewport--xs {
      padding-bottom: 20px;
    }
  }

  .about-item__picture {
    padding-top: 130px;

    @include viewport--lg {
      padding-top: 0;
    }

    @include viewport--md {
      padding-top: 0;
    }
  }

  &__title,
  h2 {
    font-family: $logo-font;
    font-size: $font-size-h2;
    line-height: $line-height-title;
    font-weight: normal;
  }
}

.about-item--invert {
  .about-item__inner {
    flex-direction: row-reverse;

    @include viewport--md {
      flex-direction: column;
    }
  }

  .about-item__text {
    margin-left: 5.2vw;
    margin-right: 7.3vw;

    @include viewport--md {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.about-item--blue {
  padding-top: 160px;
  padding-bottom: 160px;
  margin-bottom: 0;
  background-color: #0d1e2b;
  color: $color-default-white;

  @include viewport--md {
    padding: 65px 0 0;
  }

  &__title,
  h2 {
    color: inherit;
  }
}

.about-item--pale-grey {
  background-color: #dce6ed;
  color: $secondary-color-desaturate;
  padding-top: 100px;
  padding-bottom: 105px;
  margin-bottom: 0;

  @include viewport--md {
    padding-bottom: 0;
  }
}

.about-item--md-pb-0 {
  @include viewport--md {
    padding-bottom: 0;
  }

  @include viewport--xs {
    padding-bottom: 0;
  }
}
