.approach {
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 70px;

  @media (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (max-width: 576px) {
    padding-bottom: 20px;
    padding-bottom: 20px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 108px;
    padding-bottom: 147px;

    @media (max-width: 991px) {
      padding-top: 60px;
      padding-bottom: 80px;
    }

    @media (max-width: 714px) {
      flex-direction: column;
    }

    @media (max-width: 576px) {
      padding-top: 30px;
      padding-bottom: 40px;
    }

    & > span {
      font-weight: 300;
      font-size: 1.6rem;
      color: #bebebe;
      margin: 0 45px;

      @media (max-width: 714px) {
        margin: 20px 0;
      }
    }
  }

  &__link {
    font-size: 1.6rem;
    color: $secondary-color;
    text-decoration: underline;

    display: flex;
    align-items: center;
    transition: 0.2s;

    &:hover {
      color: $primary-color;
    }

    svg {
      width: 48px;
      height: 55px;
      margin-right: 18px;
    }
  }

  &__content {
    display: flex;
    align-items: center;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__foto {
    margin-right: 80px;

    @media (max-width: 991px) {
      margin-right: 0;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 513px;
    text-align: justify;

    // padding-top: 50px;
    font-weight: 300;
  }
}

.approach__text {
  h2 {
    font-family: $logo-font;
    font-weight: 400;
    font-size: 3.3rem;
    color: $secondary-color;

    margin-bottom: 34px;

    @media (max-width: 576px) {
      font-size: 2.4rem;

      margin-bottom: 15px;
    }
  }

  ul,
  ol {
    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  p {
    margin-bottom: 20px;

    @media (max-width: 576px) {
      margin-bottom: 15px;
    }

    span {
      font-weight: 700;
      color: $primary-color;
    }
  }
}
