.info {
   padding-top: 100px;
   padding-bottom: 128px;
   background-color: #dce6ed;
   @media ( max-width: 991px ) {
      padding-top: 60px;
      padding-bottom: 80px;
   }
   @media ( max-width: 576px ) {
      padding-top: 30px;
      padding-bottom: 40px;
   }
   &__desc {
      font-size: 1.6rem;
      color: #999;

      margin-bottom: 22px;
      @media ( max-width: 576px ) {
         font-size: 1.4rem;
         margin-bottom: 15px;
      }
   }
   &__title {
      font-weight: 700;
      font-size: 2.9rem;
      color: $secondary-color;
      max-width: 603px;

       margin-bottom: 58px;
       @media ( max-width: 767px ) {
         max-width: 100%;
       }
       @media ( max-width: 576px ) {
          font-size: 2rem;
          margin-bottom: 30px;
       }
   }
   &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      background-color: $color-default-white;
      padding-left: 116px;
      padding-right: 71px;
      position: relative;
      &::after {
         content: '';
         width: 70px;
         height: 100%;

         position: absolute;
         left: 0;
         top: 0;
         background-color: $primary-color;
         @media ( max-width: 991px ) {
            width: 40px;
         }
         @media ( max-width: 576px ) {
            width: 20px;
         }
      }
      @media ( max-width: 991px ) {
         padding-left: 80px;
         padding-right: 40px;
      }
      @media ( max-width: 767px ) {
         flex-direction: column;
         align-items: flex-start;
      }
      @media ( max-width: 576px ) {
         padding-left: 40px;
         padding-right: 20px;
      }
   }
   &__text {
      display: flex;
      flex-direction: column;
      padding-top: 56px;
      padding-bottom: 56px;
      @media ( max-width: 576px ) {
         padding-top: 25px;
         padding-bottom: 10px;
      }
      span {
         font-weight: 400;
         font-size: 1.6rem;
         line-height: 2.8rem;
         color: $secondary-color;
         @media ( max-width: 576px ) {
            font-size: 1.4rem;
            line-height: 2.2rem;
         }
      }
   }
   &__logo {
      margin-bottom: 57px;
      @media ( max-width: 576px ) {
         margin-bottom: 20px;
      }
      svg {
         width: 185px;
         height: 29px;
         fill: $secondary-color;
      }
   }
   &__address {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.8rem;
      color: $secondary-color;
      margin-top: 20px;
      max-width: 286px;
      padding-right: 10px;
      @media ( max-width: 767px ) {
         max-width: 100%;
      }
      @media ( max-width: 576px ) {
         font-size: 1.4rem;
      }
   }
   &__download {
      display: flex;
      flex-direction: column;

      width: 100%;
      max-width: 401px;

      padding-bottom: 60px;
      @media ( max-width: 991px ) {
         max-width: 360px;
      }
      @media ( max-width: 767px ) {
         max-width: 100%;
      }
      @media ( max-width: 576px ) {
         padding-bottom: 35px;
      }
   }
   &__wrap {
      display: flex;
      align-items: flex-end;

      margin-bottom: 32px;
      @media ( max-width: 767px ) {
         align-items: center;
      }
      @media ( max-width: 576px ) {
         flex-direction: column;
         align-items: flex-start;

         margin-bottom: 20px;
      }
      span {
         font-weight: 400;
         font-size: 1.6rem;
         line-height: 2.8rem;
         color: #7c97aa;
         max-width: 213px;

         margin-right: 48px;
         @media ( max-width: 767px ) {
            max-width: 100%;
         }
         @media ( max-width: 576px ) {
            font-size: 1.4rem;
            line-height: 1.8rem;
            margin-bottom: 10px;
         }
      }
      a {
         font-weight: 400;
         font-size: 1.6rem;
         line-height: 2.8rem;
         color: #0082c1;
         text-decoration: underline;
         @media ( max-width: 576px ) {
            font-size: 1.4rem;
         }
         &:hover {
            color: $primary-color;
         }
      }
      svg {
         width: 70px;
         height: 80px;
         @media ( max-width: 576px ) {
            width: 40px;
            height: 50px;
         }
      }
   }
   &__btn {
      font-weight: 500;
      font-size: 1.3rem;
      color: #f7f7f7;
      cursor: pointer;
      text-transform: uppercase;

      height: 77px;
      background-color: $secondary-color;
      box-shadow: 0px 15px 34px 0 rgba(12, 30, 44, 0.2);

      display: flex;
      align-items: center;

      padding-left: 71px;
      width: 100%;
      max-width: 401px;

      transition: .2s;
      svg {
         width: 12px;
         height: 10px;
         fill: #f0d276;
         transition: .2s;
      }
      span {
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #153248;
         height: 77px;
         margin: 0;
         margin-left: auto;
         padding-left: 34px;
         padding-right: 31px;
         transition: .2s;
      }
      &:hover {
         background-color: #153248;
         span {
            background-color: $secondary-color;
         }
         svg {
            fill:  #fcf7e6;
         }
      }
      @media ( max-width: 576px ) {
         padding-left: 35px;
         height: 48px;
         span {
            height: 48px;
            padding-left: 24px;
            padding-right: 21px;
         }
      }
   }
}
