.connection {
  padding-top: 90px;
  padding-bottom: 113px;

  @media (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (max-width: 567px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    flex-direction: column;

    padding: 25px 0;
    padding-left: 100px;
    border-left: 1px solid $secondary-color;

    @media (max-width: 567px) {
      padding: 0;
      border-left: none;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 3.3rem;
    color: $secondary-color;
    text-transform: uppercase;
    margin-bottom: 38px;

    @media (max-width: 567px) {
      font-size: 2.2rem;
      line-height: 2.6rem;

      margin-bottom: 20px;
    }
  }

  &__desc {
    font-weight: 400;
    font-size: $font-size;
    line-height: $line-height;
    color: $text-color;
    max-width: 600px;

    @media (max-width: 567px) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    margin-top: 78px;

    @media (max-width: 991px) {
      flex-direction: column;
      margin-top: 50px;
    }

    @media (max-width: 567px) {
      margin-top: 30px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    p {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.8rem;
      color: #7c97aa;

      @media (max-width: 567px) {
        font-size: 1.4rem;
        line-height: 2.4rem;
      }
    }

    a {
      font-weight: 700;
      font-size: 1.6rem;
      color: #7c97aa;
      text-decoration: underline;

      // margin-left: 5px;

      @media (max-width: 567px) {
        font-size: 1.4rem;
      }
    }

    @media (max-width: 991px) {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: 567px) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    margin-bottom: 24px;

    @media (max-width: 991px) {
      margin-bottom: 10px;
    }

    @media (max-width: 567px) {
      margin-bottom: 5px;
    }

    svg {
      width: 28px;
      height: 41px;
      fill: #dce6ed;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 2rem;
    color: #000000;

    margin-bottom: 27px;

    @media (max-width: 567px) {
      font-size: 1.6rem;
      margin-bottom: 15px;
    }
  }

  &__address {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #7c97aa;
    max-width: 263px;

    @media (max-width: 991px) {
      max-width: 100%;
    }

    @media (max-width: 567px) {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }
}

.connection__socials {
  padding-top: 15px;
}
