.division {
  padding-top: 135px;
  padding-bottom: 20px;

  &__team {
    margin-bottom: 110px;
  }

  &__title {
    @include h3;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  &__subtitle {
    color: $grey;
  }

  &__list {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 25px 30px;

    @include viewport--xs {
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
  }

  // &__member {}

  &--bg-pale-grey {
    background-color: $pale-grey;
  }
}
