.product {
  padding-top: 40px;
  padding-bottom: 135px;

  background-color: $color-default-white;
  font-size: 20px;

  @include viewport--md {
    font-size: $font-size;
  }

  @include viewport--sm {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 45px;
    margin-bottom: 75px;

    @media (max-width: 1279px) {
      flex-wrap: wrap;
      margin-top: 35px;
      margin-bottom: 25px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 10px;
    }
  }

  &__btn {
    font-weight: 500;
    font-size: 1.3rem;
    color: #c5c5c5;
    text-transform: uppercase;

    border: solid 3px #f3f3f3;

    padding: 17px 50px;
    height: 55px;
    margin-right: 17px;

    cursor: pointer;
    transition: 0.2s;

    @media (max-width: 1279px) {
      width: calc(50% - 17px);
      margin-bottom: 15px;
    }

    @media (max-width: 767px) {
      width: 100%;
      margin-right: 0;
      font-size: 1.2rem;
      white-space: nowrap;
    }

    &:hover {
      color: $primary-color;
      border: solid 3px $primary-color;
    }

    &--active {
      color: #7c97aa;
      background-color: #dce6ed;
      border: none;

      &:hover {
        color: #7c97aa;
        border: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__content {
    display: none;
    justify-content: space-between;
    // align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;

    &--active {
      display: flex;
      animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }

  &__text {
    min-height: 100%;
    width: 320px;
    max-width: calc(100% / 3 - 30px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;

    @include viewport--lg {
      max-width: 100%;
    }

    @include viewport--sm {
      order: 1;
    }

    p {
      margin-bottom: 20px;
    }
  }

  &__picture {
    flex: none;
    width: 464px;
    max-width: calc(100% / 3 - 30px);

    @include viewport--lg {
      max-width: 100%;
    }

    img {
      border-radius: 15px;

      @include viewport--sm {
        display: none;
      }
    }
  }

  &__description-list {
    min-height: 100%;
    width: 280px;
    max-width: calc(100% / 3 - 30px);
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include viewport--lg {
      max-width: 100%;
    }

    dd {
      margin-left: 0;
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;

    // font-size: 14.6px;
    color: #999999;

    @media (max-width: 950px) {
      margin-bottom: 20px;
    }

    @media (max-width: 576px) {
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: $font-size-h4;
    color: #34363b;
    margin-bottom: 5px;

    @media (max-width: 576px) {
      margin-bottom: 5px;
    }
  }
}
