<div class="contacts-about">
        <div class="contacts-about__content">
          <h2 class="contacts-about__title">Узнайте больше о нашем подходе!</h2>
          <a class="contacts-about__link" href="/about">
            Перейти в раздел о нас
            <svg>
              <use xlink:href="{{ 'assets/images/sprite_auto.svg#arrows'|theme }}"></use>
            </svg>
          </a>
          <a class="btn  btn--white contacts-about__btn" data-modal="registration-for-viewing">Посетить готовые объекты и&nbsp;пообщаться с&nbsp;их&nbsp;владельцами</a>
        </div>
        <picture class="contacts-about__foto">
          <source srcset="{{ 'assets/images/content/text-about.webp'|theme }} 1x" type="image/webp">
          <img src="{{ 'assets/images/content/text-about.jpg'|theme }}" width="470" alt="Фотография счастливых клиентов" loading="lazy">
        </picture>
      </div>