==
<div class="person  @@if (context.actionCall) {action-call__person}">
  @@if (!(context.person.name === '@@person.name') && !(context.person.employee === '@@person.employee')) {
  <div class="person__name-wrap">
    <p class="person__name">@@person.name</p>
    <p class="person__sub-name">@@person.employee</p>
  </div>
  }
  <div class="person__foto-wrap @@if (context.actionCall) {action-call__person-foto}">
    <picture>
      <source srcset="@@person.imgSrc.webp 1x" type="image/webp">
      <img src="@@person.imgSrc.png" width="@@person.imgWidth"
        alt="Фотография @@if (!(context.person.name === '@@person.name') && !(context.person.employee === '@@person.employee')) {@@person.employee @@person.name}">
    </picture>
  </div>
</div>
