==
<div class="row-section  row-section--alert">
  <div class="row-section__inner">
    <p>Наша компания готова выполнить услуги по&nbsp;отдельности, но&nbsp;мы&nbsp;<span
          style="text-decoration: underline;">настоятельно рекомендуем комплексный подход!</span> </p>
    <p style="margin-bottom: 1em;">Комплексный подход является выгодным, в&nbsp;первую очередь, для заказчика. Наши специалисты: архитекторы, инженеры, дизайнеры, строители работают над проектом совместно, чтобы сразу учитывать нужды и&nbsp;задачи друг друга.</p>
    <p><b style="text-transform: uppercase;">Результат: </b> Заказчик получает одно гармонично целое,
      а&nbsp;не&nbsp;набор элементов, не&nbsp;согласованных между собой.</p>
  </div>
</div>
