<div class="row-form">
  <div class="row-form__inner">
    <div class="row-form__text">
      <div class="row-form__title">@@title</div>
      <div class="row-form__subtitle">@@subtitle</div>
    </div>
    <form class="row-form__content" action="/">
      <div class="row-form__wrap">
        <div class="row-form__item">
          <svg>
            <use xlink:href="{{ 'assets/images/sprite_auto.svg#form-icon'|theme }}"></use>
          </svg>
          <input class="row-form__file" type="file" name="formFile" id="formFile">
          <label class="row-form__file-label" for="formFile">
            Прикрепите файлы
          </label>
        </div>
        <div class="row-form__item">
          <svg>
            <use xlink:href="{{ 'assets/images/sprite_auto.svg#contacts-icon-2'|theme }}"></use>
          </svg>
          <input class="row-form__input" type="text" placeholder="Введите номер телефона">
        </div>
      </div>
      <button class="btn  btn--blue row-form__btn" type="submit">
        @@buttonText
        <span>
          <svg>
            <use xlink:href="{{ 'assets/images/sprite_auto.svg#arrows'|theme }}"></use>
          </svg>
        </span>
      </button>
    </form>
  </div>
</div>
